.pi-button-component {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 4;

  &:hover { opacity: 1; }

  svg {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 8px rgba(255,215,0,0.6));
  }
}
